---
aliases:
  - outcome
  - outcomes
  - test result
  - test results
---

> The consequence/outcome of the execution of a test.