---
aliases:
  - verification
---
> Confirmation by examination and through provision of objective evidence that specified [requirements](Requirement.md) have been fulfilled.[^1]
> Reference: ISO 9000

See also: [Validation](Validation.md)

[^1]: Standard Glossary of Terms used in Software Testing (v4.2.1). Jan 31, 2024. ISTQB. Retrieved from https://glossary.istqb.org/. Licensed under [CC-BY 4.0](https://creativecommons.org/licenses/by/4.0/).